[submodule "external/libigl"]
	path = external/libigl
	url = https://github.com/jhwang7628/libigl.git
[submodule "external/portaudio"]
	path = external/portaudio
	url = https://github.com/PortAudio/portaudio.git
[submodule "external/protobuf"]
	path = external/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
